node_modules
.next
out
__pycache__
*.pyc
.git
.gitignore
Dockerfile*
.dockerignore
venv
*.tsbuildinfo
.DS_Store
.vscode
.idea
cdk.out
infrastructure
Instructor_Deployable_JW
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.pem
.env*
*.tgz
*.bak
